@model DataGov_API_Intro.Models.Results

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="/table.css" type="text/css" />
</head>
<body>
    <div style="width:50%; height:700px; overflow:auto;">
        <table class="table">
            <tr>
                <th>Year </th>
                <th>Population </th>
                <th>Homicide </th>
                <th>Property Crime</th>
            </tr>
            @foreach (DataGov_API_Intro.Models.Result result in Model.results)
            {
        <tr>
            <td>@result.year</td>
            <td>@result.population</td>
            <td>@result.homicide</td>
            <td>@result.property_crime</td>
        </tr>
            }
        </table>
    </div>
</body>
<!--DataGov_API_Intro.Models.Result result in Model.results-->