@model DataGov_API_Intro.Models.Results

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="/table.css" type="text/css" />
</head>
<body>
    <table class="table">
        <tr>
            <th>Year </th>
            <th>Agency Count </th>
            <th>Total Population </th>
        </tr>
        @foreach (DataGov_API_Intro.Models.Result result in Model.results)
        {
            <tr>
                <td>@result.data_year</td>
                <td>@result.covered_agency_count</td>
                <td>@result.total_population</td>
            </tr>
        }
    </table>
</body>